body {
	background-color: #444444;
	color: #f4f4f4;
}

main {
	border: 5px solid white;
	display: grid;
	width: 800px;
	height: 650px;
	grid-template-rows: 100px auto;
}

#factdisplay {
	border: 5px solid red;
}

form {
	border:5px solid green;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

body {
	display: flex;
	justify-content: center;
}

image {
	width: 100%;
	height: auto;
}